altgraph==0.17.4
Cython==3.0.10
debugpy==1.8.1
mido==1.3.2
numpy==1.26.4
openvr==1.26.701
packaging==23.2
pandas==2.2.2
pefile==2023.2.7
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
python-osc==1.8.3
python-rtmidi==1.5.8
pytz==2024.1
pywin32-ctypes==0.2.2
six==1.16.0
tzdata==2024.1
